{% extends 'layout.html.twig' %}

{% block assets %}
{{ parent() }}
<link rel="stylesheet" href="assets/css/style.css">
{% endblock %}

{% block page_title %}Cool Framework{% endblock %}

{% block content %}
<h1>
  Welcome to the Cool Framework<br>
  <small>By SUP'Internet DEV 2020</small>
</h1>
{% endblock %}
